src/Acontplus.Billing/Resources/Schemas/GuiaRemision_V1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Número de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Código del tipo de documento (06 para Guía de Remisión)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="6"/>
			<xsd:maxInclusive value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="guiaRemision">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoGuiaRemision" type="infoGuiaRemision"/>
				<xsd:element name="destinatarios" type="destinatarios"/>
				<xsd:element name="infoAdicional" type="infoAdicional" minOccurs="0"/>

			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="infoTributaria">
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"/>
			<xsd:element name="nombreComercial" type="nombreComercial" minOccurs="0"/>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso"/>
			<xsd:element name="codDoc" type="codTipoDoc"/>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"/>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="infoGuiaRemision">
		<xsd:sequence>
			<xsd:element name="dirEstablecimiento" type="dirEstablecimiento" minOccurs="0"/>
			<xsd:element name="dirPartida" type="dirPartida"/>
			<xsd:element name="razonSocialTransportista" type="razonSocial"/>
			<xsd:element name="tipoIdentificacionTransportista" type="tipoIdentificacion"/>
			<xsd:element name="rucTransportista" type="rucTransportista"/>
			<xsd:element name="rise" type="rise" minOccurs="0"/>
			<xsd:element name="obligadoContabilidad" type="obligadoContabilidad" minOccurs="0"/>
			<xsd:element name="contribuyenteEspecial" type="contribuyenteEspecial" minOccurs="0"/>
			<xsd:element name="fechaIniTransporte" type="fechaType"/>
			<xsd:element name="fechaFinTransporte" type="fechaType"/>
			<xsd:element name="placa" type="placa"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="destinatarios">
		<xsd:sequence>
			<xsd:element name="destinatario" type="destinatario" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="destinatario">
		<xsd:sequence>
			<xsd:element name="identificacionDestinatario" type="identificacionDestinatario"/>
			<xsd:element name="razonSocialDestinatario" type="razonSocial"/>
			<xsd:element name="dirDestinatario" type="dirDestinatario"/>
			<xsd:element name="motivoTraslado" type="motivoTraslado"/>
			<xsd:element name="docAduaneroUnico" type="docAduaneroUnico" minOccurs="0"/>
			<xsd:element name="codEstabDestino" type="establecimiento" minOccurs="0"/>
			<xsd:element name="ruta" type="ruta" minOccurs="0"/>
			<xsd:element name="codDocSustento" type="codDocSustento"/>
			<xsd:element name="numDocSustento" type="numDocSustento"/>
			<xsd:element name="numAutDocSustento" type="numAutDocSustento"/>
			<xsd:element name="fechaEmisionDocSustento" type="fechaType"/>
			<xsd:element name="detalles" type="detalles"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalles">
		<xsd:sequence>
			<xsd:element name="detalle" type="detalle" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalle">
		<xsd:sequence>
			<xsd:element name="codigoInterno" type="codigoInterno" minOccurs="0"/>
			<xsd:element name="codigoAdicional" type="codigoAdicional" minOccurs="0"/>
			<xsd:element name="descripcion" type="descripcion"/>
			<xsd:element name="cantidad" type="cantidad"/>
			<xsd:element name="detallesAdicionales" type="detallesAdicionales" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detallesAdicionales">
		<xsd:sequence>
			<xsd:element name="detAdicional" type="detAdicional" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detAdicional">
		<xsd:simpleContent>
			<xsd:extension base="detalleAdicionalValue">
				<xsd:attribute name="nombre" type="detalleAdicionalName" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="infoAdicional">
		<xsd:sequence>
			<xsd:element name="campoAdicional" type="campoAdicional" maxOccurs="15"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="campoAdicional">
		<xsd:simpleContent>
			<xsd:extension base="campoAdicionalValue">
				<xsd:attribute name="nombre" type="campoAdicionalName" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ambiente">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirPartida">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rucTransportista">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rise">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="placa">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionDestinatario">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirDestinatario">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motivoTraslado">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="docAduaneroUnico">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ruta">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numAutDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="49"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoInterno">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descripcion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="cantidad">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="detalleAdicionalName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="detalleAdicionalValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicionalName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicionalValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
