src/Acontplus.Billing/Resources/Schemas/LiquidacionCompra_V1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Número de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Código del tipo de documento (03 para Liquidación de Compra)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="3"/>
			<xsd:maxInclusive value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="liquidacionCompra">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoLiquidacionCompra" type="infoLiquidacionCompra"/>
				<xsd:element name="detalles" type="detalles"/>
				<xsd:element name="infoAdicional" type="infoAdicional" minOccurs="0"/>

			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="infoTributaria">
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"/>
			<xsd:element name="nombreComercial" type="nombreComercial" minOccurs="0"/>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso"/>
			<xsd:element name="codDoc" type="codTipoDoc"/>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"/>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="infoLiquidacionCompra">
		<xsd:sequence>
			<xsd:element name="fechaEmision" type="fechaType"/>
			<xsd:element name="dirEstablecimiento" type="dirEstablecimiento" minOccurs="0"/>
			<xsd:element name="contribuyenteEspecial" type="contribuyenteEspecial" minOccurs="0"/>
			<xsd:element name="obligadoContabilidad" type="obligadoContabilidad"/>
			<xsd:element name="tipoIdentificacionProveedor" type="tipoIdentificacion"/>
			<xsd:element name="razonSocialProveedor" type="razonSocial"/>
			<xsd:element name="identificacionProveedor" type="idProveedor"/>
			<xsd:element name="direccionProveedor" type="direccionProveedor"/>
			<xsd:element name="totalSinImpuestos" type="totalSinImpuestos"/>
			<xsd:element name="totalDescuento" type="totalDescuento"/>
			<xsd:element name="codDocReembolso" type="codDocReembolso" minOccurs="0"/>
			<xsd:element name="totalComprobantesReembolso" type="totalComprobantesReembolso" minOccurs="0"/>
			<xsd:element name="totalBaseImponibleReembolso" type="totalBaseImponibleReembolso" minOccurs="0"/>
			<xsd:element name="totalImpuestoReembolso" type="totalImpuestoReembolso" minOccurs="0"/>
			<xsd:element name="totalConImpuestos" type="totalConImpuestos"/>
			<xsd:element name="importeTotal" type="importeTotal"/>
			<xsd:element name="moneda" type="moneda"/>
			<xsd:element name="pagos" type="pagos"/>
			<xsd:element name="reembolsos" type="reembolsos" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="totalConImpuestos">
		<xsd:sequence>
			<xsd:element name="totalImpuesto" type="totalImpuesto" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="totalImpuesto">
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"/>
			<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
			<xsd:element name="descuentoAdicional" type="descuentoAdicional" minOccurs="0"/>
			<xsd:element name="baseImponible" type="baseImponible"/>
			<xsd:element name="valor" type="valor"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pagos">
		<xsd:sequence>
			<xsd:element name="pago" type="pago" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pago">
		<xsd:sequence>
			<xsd:element name="formaPago" type="formaPago"/>
			<xsd:element name="total" type="total"/>
			<xsd:element name="plazo" type="plazo" minOccurs="0"/>
			<xsd:element name="unidadTiempo" type="unidadTiempo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reembolsos">
		<xsd:sequence>
			<xsd:element name="reembolsoDetalle" type="reembolsoDetalle" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reembolsoDetalle">
		<xsd:sequence>
			<xsd:element name="tipoIdentificacionProveedorReembolso" type="tipoIdentificacion"/>
			<xsd:element name="identificacionProveedorReembolso" type="idProveedor"/>
			<xsd:element name="codPaisPagoProveedorReembolso" type="codPais" minOccurs="0"/>
			<xsd:element name="tipoProveedorReembolso" type="tipoProveedor"/>
			<xsd:element name="codDocReembolso" type="codDocReembolso"/>
			<xsd:element name="estabDocReembolso" type="establecimiento"/>
			<xsd:element name="ptoEmiDocReembolso" type="puntoEmision"/>
			<xsd:element name="secuencialDocReembolso" type="secuencial"/>
			<xsd:element name="fechaEmisionDocReembolso" type="fechaType"/>
			<xsd:element name="numeroautorizacionDocReemb" type="numeroAutorizacion"/>
			<xsd:element name="detalleImpuestos" type="detalleImpuestos"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleImpuestos">
		<xsd:sequence>
			<xsd:element name="detalleImpuesto" type="detalleImpuesto" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleImpuesto">
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"/>
			<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
			<xsd:element name="tarifa" type="tarifa"/>
			<xsd:element name="baseImponibleReembolso" type="baseImponible"/>
			<xsd:element name="impuestoReembolso" type="valor"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalles">
		<xsd:sequence>
			<xsd:element name="detalle" type="detalle" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalle">
		<xsd:sequence>
			<xsd:element name="codigoPrincipal" type="codigoPrincipal"/>
			<xsd:element name="codigoAuxiliar" type="codigoAuxiliar" minOccurs="0"/>
			<xsd:element name="descripcion" type="descripcion"/>
			<xsd:element name="cantidad" type="cantidad"/>
			<xsd:element name="precioUnitario" type="precioUnitario"/>
			<xsd:element name="descuento" type="descuento"/>
			<xsd:element name="precioTotalSinImpuesto" type="precioTotalSinImpuesto"/>
			<xsd:element name="detallesAdicionales" type="detallesAdicionales" minOccurs="0"/>
			<xsd:element name="impuestos" type="impuestos"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuestos">
		<xsd:sequence>
			<xsd:element name="impuesto" type="impuesto" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuesto">
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"/>
			<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
			<xsd:element name="tarifa" type="tarifa"/>
			<xsd:element name="baseImponible" type="baseImponible"/>
			<xsd:element name="valor" type="valor"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detallesAdicionales">
		<xsd:sequence>
			<xsd:element name="detAdicional" type="detAdicional" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detAdicional">
		<xsd:simpleContent>
			<xsd:extension base="detalleAdicionalValue">
				<xsd:attribute name="nombre" type="detalleAdicionalName" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="infoAdicional">
		<xsd:sequence>
			<xsd:element name="campoAdicional" type="campoAdicional" maxOccurs="15"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="campoAdicional">
		<xsd:simpleContent>
			<xsd:extension base="campoAdicionalValue">
				<xsd:attribute name="nombre" type="campoAdicionalName" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ambiente">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idProveedor">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="direccionProveedor">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalSinImpuestos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalDescuento">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalComprobantesReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalBaseImponibleReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalImpuestoReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="importeTotal">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="moneda">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DOLAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigo">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentaje">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descuentoAdicional">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponible">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="formaPago">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="total">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="plazo">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="unidadTiempo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="dias"/>
			<xsd:enumeration value="meses"/>
			<xsd:enumeration value="años"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codPais">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoProveedor">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="01|02"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroAutorizacion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="49"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifa">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPrincipal">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoAuxiliar">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descripcion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="cantidad">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioUnitario">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descuento">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioTotalSinImpuesto">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="detalleAdicionalName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="detalleAdicionalValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicionalName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicionalValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
